@import twitter4j._
@(queryForm: Form[QueryData], result:Option[List[Ranking]], target:Option[Status], userAgent:Option[Map[String,String]])(implicit messages: Messages, webJarAssets: WebJarAssets)

@main("Welcome to Play") {
   @helper.form(action = routes.Application.search) {
        @helper.inputText(queryForm("keyword"))
        @helper.select(queryForm("sort"), options = Seq(("like", "Like"), ("rt", "RT"), ("created", "Created")))
        @helper.inputDate(queryForm("since"))
        <input type="submit" value="Search">
   }

   @target match {
       case Some(status) => {
           @status.getText
       }
       case _ => {}
   }

   @result match {
        case Some(statusList) => {
            <ul>
                @for((status, i) <- statusList.zipWithIndex) {
                    <ol>
                        @(i+1) : @status.screenName : @status.name : @status.favorite : @status.retweet : @status.text<br>
                        @for(url <- status.imageUrls) {
                        <img src="@url">
                        }
                        @status.created.format("YYYY-MM-dd hh:mm:ss")
                    </ol>
                }
            </ul>
        }
        case None => {  }
   }

}
